<app-main-carousel [slides]="slides"></app-main-carousel>
<div class="home-1-wrap">

    <div  class="info-bar-four-wrapper">
        <div class="container">
            <div fxLayout="row wrap" class="info-bar-four">
             <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
               <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                 <mat-icon class="mat-icon-xlg  m-0">card_giftcard</mat-icon>
                 <div class="content">
                   <p>BONUS PLUS</p>
                   <span class="text-muted m-0">Get a bonus plus for buying more that three products</span>
                 </div>
               </mat-card>
             </div>
             <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
               <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                 <mat-icon class="mat-icon-xlg  m-0">local_shipping</mat-icon>
                 <div class="content">
                   <p>FREE SHIPPING</p>
                   <span class="text-muted m-0">Free shipping on all orders over $99</span>
                 </div>
               </mat-card>
             </div>
             <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
               <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                 <mat-icon class="mat-icon-xlg m-0">monetization_on</mat-icon>
                 <div class="content">
                   <p>MONEY BACK GUARANTEE</p>
                   <span class="text-muted m-0">100% money back guarantee</span>
                 </div>
               </mat-card>
             </div>
             <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
               <mat-card class="light-block no-bd" fxLayout="row"  fxLayoutAlign="start center">
                 <mat-icon class="mat-icon-xlg m-0">history</mat-icon>
                 <div class="content">
                   <p>ONLINE SUPPORT 24/7</p>
                   <span class="text-muted m-0">Call us: 02 3555 65454 55</span>
                 </div>
               </mat-card>
             </div>
         </div>
           </div>
    </div>
            

              <div class="banners-four">
                  <div class="container">
                    <app-banners-four [banners]="banners"></app-banners-four>
                  </div>
                </div>
    <div class="container">
        <div class="products sec-padding">
          <div class="products-four">

              <h3>POPULAR ITEMS</h3>
              <app-product-carousel [product]="products | slice:0:8"></app-product-carousel>

          </div>

        </div>
        </div>
        <div class="featured-products-wrap">
            <div class="container">
                <div class="products sec-padding bg">
                        <div class="products-four">

                            <h3>FEATURED ITEMS</h3>
                            <app-product-carousel [product]="products | slice:8:16"></app-product-carousel>

                        </div>
                    </div>

                  </div>
        </div>
        <div class="main-banner">
            <app-banner-promotion></app-banner-promotion>
      </div>
          <div class="container">
        <app-product-vertical [products]="products"></app-product-vertical>
        </div>
       
       <div class="blog-section sec-padding">
         <div class="container">
           <div class="section-title">
              <h3>Latest From Our Blog</h3>
              <p>Business analytics (BA) is the practice of iterative, methodical exploration of an<br> 
                  organization's data with emphasis on statistical analysis.</p>
           </div>
          
           <app-blog-section></app-blog-section>
         </div>
       </div>

  </div>
