<div class="blog-container" fxLayout="column" fxLayout.gt-sm="row">
        <div class="blog" fxFlex>
            <div class="info" >
                    <div class="img-box">
                            <img src="assets/images/blog/b1.jpg" alt="">
                        </div>
                <div class="text-box" fxLayout="column" >
                        <div class="date">17 <br>June</div>
                        <h4>How to improve your market</h4>
                   <p>Great pleasure to take a trivial example, which of us undertakes laborious.</p>
            <a href="#">See More</a>
                </div>
            </div>
        </div>
        <div class="blog" fxFlex>
                <div class="info" >
                        <div class="img-box">
                            <img src="assets/images/blog/b1.jpg" alt="">
                            </div>
                    <div class="text-box" fxLayout="column" >
                            <div class="date">17 <br>June</div>
                            <h4>How to improve your market</h4>
                            <p>Great pleasure to take a trivial example, which of us undertakes laborious.</p>
                <a href="#">See More</a>
                    </div>
                </div>
            </div>
            <div class="blog" fxFlex>
                    <div class="info" >
                        <div class="img-box">
                                <img src="assets/images/blog/b1.jpg" alt="">
                        </div>
                        <div class="text-box" fxLayout="column" >
                                <div class="date">17 <br>June</div>
                                <h4>How to improve your market</h4>
                                <p>Great pleasure to take a trivial example, which of us undertakes laborious.</p>
                    <a href="#">See More</a>
                        </div>
                    </div>
                </div>
    </div>

