<div
  class="categories-section"
  fxLayout="row"
  fxLayout.lt-md="column"
  fxLayoutAlign="start start"
  class="p-0"
>
  <div fxFlex="100" fxFlex.gt-sm="50" class="left-section">
    <div class="item mb-15">
      <div class="product">
        <img src="assets/images/product/headphone1.png" alt="" />
      </div>
      <div class="product-info">
        <h4><a href="">3D Models</a></h4>
        <ul>
          <li><a href="">Brand 1</a></li>
          <li><a href="">Brand 1</a></li>
          <li><a href="">Brand 1</a></li>
          <li><a href="">Brand 1</a></li>
          <li><a href="">Brand 1</a></li>
        </ul>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start">
      <div class="item mr-7">
        <div class="product">
          <img src="assets/images/product/laptop1.png" alt="" />
        </div>
        <div class="product-info">
          <h4><a href="">options</a></h4>
          <ul>
            <li><a href="">Brand 1</a></li>
            <li><a href="">Brand 1</a></li>
            <li><a href="">Brand 1</a></li>
            <li><a href="">Brand 1</a></li>
            <li><a href="">Brand 1</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="50" class="right-section">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start">
      <div class="item mr-7">
        <div class="product">
          <img src="assets/images/product/steker.png" alt="" />
        </div>
        <div class="product-info">
          <h4><a href="">3D Models</a></h4>
          <ul>
            <li><a href="">Brand 1</a></li>
            <li><a href="">Brand 1</a></li>
            <li><a href="">Brand 1</a></li>
            <li><a href="">Brand 1</a></li>
            <li><a href="">Brand 1</a></li>
          </ul>
        </div>
      </div>
      <div class="item ml-7">
        <div class="product">
          <img src="assets/images/product/tv1.png" alt="" />
        </div>
        <div class="product-info">
          <h4><a href="">3D Gaming assets</a></h4>
          <ul>
            <li><a href="">Brand 1</a></li>
            <li><a href="">Brand 1</a></li>
            <li><a href="">Brand 1</a></li>
            <li><a href="">Brand 1</a></li>
            <li><a href="">Brand 1</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="item mt-15">
      <div class="product">
        <img src="assets/images/product/Smartwatch1.png" alt="" />
      </div>
      <div class="product-info">
        <h4><a href="">3D prints</a></h4>
        <ul>
          <li><a href="">Brand 1</a></li>
          <li><a href="">Brand 1</a></li>
          <li><a href="">Brand 1</a></li>
          <li><a href="">Brand 1</a></li>
          <li><a href="">Brand 1</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
