/
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
/>
<style>
  .sidenav {
    background: #ffc107;
    transition: all 0.5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .sidenav .logo-container {
    display: flex;
    align-items: center;
    padding: 0.938rem 0.938rem 0 0.938rem;
    width: 100%;
  }
  .sidenav .logo-container .logo {
    background: white;
    text-align: center;
    width: 3rem;
    min-width: 3rem;
    border-radius: 0.313rem;
    padding: 0.313rem;
    font-size: 32px;
    font-weight: 900;
    cursor: pointer;
    border: none;
  }
  .sidenav .logo-container .logo-text {
    margin-left: 1.5rem;
    font-size: 32px;
    font-weight: 700;
    color: black;
  }
  .sidenav .logo-container .btn-close {
    margin-left: auto;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
  }
  .sidenav .logo-container .btn-close .fa-times {
    color: white;
    font-size: 24px;
  }

  .sidenav-collapsed {
    width: 16.5625rem;
  }
  .sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calcul(100%-3.65rem);
    cursor: pointer;
  }
  .sidenav-nav .sidenav-nav-item {
    width: 100%;
    margin-bottom: 0.635rem;
  }
  .sidenav-nav .sidenav-nav-item .sidenav-nav-link {
    display: flex;
    align-item: center;
    height: 3rem;
    color: #f3f3f3;
    text-decoration: none;
    border-radius: 0.725rem;
    transition: all 0.3s ease;
  }
  .sidenav-nav .sidenav-nav-item .sidenav-nav-link .sidenav-link-icon {
    font-size: 22px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
    text-align: center;
  }
  .sidenav-nav
    .sidenav-nav-item
    .sidenav-nav-link
    .sidenav-link-icon
    .sidenav-link-text {
    margin-left: 1.5rem;
  }
  .sidenav-nav-item:hover .sidenav-nav-link {
    background-color: rgb(163, 237, 255);
    color: black;
  }

  .active .sidenav-link-icon,
  .sidenav-link-text {
    color: black;
  }
</style>
<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div
    class="logo-container"
    style="
      justify-content: space-between;
      height: 80px;
      display: -webkit-inline-box;
    "
  >
    <button class="btn btn-primary mr-4" (click)="toogleCollapse()">A</button>
    <div
      class="logo-text"
      @fadeInOut
      *ngIf="collapsed"
      style="font-size: 20px; font-weight: 700; color: black"
    >
      Welcome Admin !
    </div>
    <br />
    <button
      class="btn btn-close"
      @rotate
      (click)="closeSidenav()"
      *ngIf="collapsed"
    >
      <i class="fa fa-times close-icon"></i>
    </button>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item d-flex flex-row" *ngFor="let data of navData">
      <a
        class="sidenav-nav-link"
        [routerLink]="[data.routelink]"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span
          class="sidenav-link-text"
          @fadeInOut
          *ngIf="collapsed"
          style="padding-left: 20px; justify-content: center"
          >{{ data.label }}</span
        >
      </a>
    </li>
  </ul>
</div>
