<div class="demo-wrapper">
  <div class="demo-header">
    <div class="container">
      <div class="demo-header-wrap" fxLayout="column" fxLayout.lt-md="column">
        <div fxFlex="100" fxFlex.gt-sm="40" class="left-panel">
          <div class="logo">
            <img src="assets/images/logo-white.png" alt="" />
          </div>
          <div class="text-intro">
            <h1>
              <span class="powerful">POWERFUL</span><br />Angular Material<br /><span
                class="theme"
                >Ecommerce Theme</span
              >
            </h1>
          </div>
          <ul
            fxLayout="row"
            fxLayout.lt-md="column"
            fxLayoutAlign="center center"
          >
            <li fxLayout="row">
              <i class="material-icons">check</i
              ><span>Quality check by Envato</span>
            </li>
            <li fxLayout="row">
              <i class="material-icons">check</i
              ><span>Lifetime regular updates</span>
            </li>
            <li fxLayout="row">
              <i class="material-icons">check</i
              ><span>6 months free support</span>
            </li>
            <li fxLayout="row">
              <i class="material-icons">check</i
              ><span>Full access to all files included in the package</span>
            </li>
          </ul>
          <div class="button">
            <a
              target="_blank"
              href="https://themeforest.net/item/sophia-angular-material-ecommerce-template/24219775"
              class="ped-btn left-btn"
              >Buy Now</a
            >
          </div>
        </div>
        <!-- <div fxFlex="100" fxFlex.gt-sm="60" class="right-panel">
                  <img src="assets/images/demo/laptop.png" alt="">
              </div> -->
      </div>
    </div>
  </div>
  <div class="demo-showcase sec-padding">
    <div class="container">
      <div class="title">
        <h2>Main demo</h2>
        <p>Check this beautiful demo with 5 different home pages</p>
      </div>
      <div class="demos" fxLayout="row" fxLayout.lt-lg="column">
        <div class="item" fxFlex="100" fxFlex.gt-xs="33.3" ngClass.xs="mt-2">
          <div class="first">
            <img src="assets/images/demo/s1.jpg" alt="" />
          </div>
          <div class="seccond">
            <h4><a>HOME 1</a></h4>
          </div>
          <div class="button">
            <a href="home/one" target="_blank" class="ped-btn left-btn"
              >VIEW DEMO</a
            >
          </div>
        </div>
        <div
          class="item middle"
          fxFlex="100"
          fxFlex.gt-xs="33.3"
          ngClass.xs="mt-2"
        >
          <div class="first">
            <img src="assets/images/demo/s10.jpg" alt="" />
          </div>
          <div class="seccond">
            <h4><a>HOME 2</a></h4>
          </div>
          <div class="button">
            <a href="home/two" target="_blank" class="ped-btn left-btn"
              >VIEW DEMO</a
            >
          </div>
        </div>
        <div class="item" fxFlex="100" fxFlex.gt-xs="33.3" ngClass.xs="mt-2">
          <div class="first">
            <img src="assets/images/demo/s11.jpg" alt="" />
          </div>
          <div class="seccond">
            <h4>HOME 3</h4>
          </div>
          <div class="button">
            <a href="home/three" target="_blank" class="ped-btn left-btn"
              >VIEW DEMO</a
            >
          </div>
        </div>
      </div>
      <div
        class="demos demo-row-sec"
        fxLayout="row"
        fxLayout.lt-lg="column"
        xLayoutAlign="space-around center"
      >
        <div
          class="item sec"
          fxFlex="100"
          fxFlex.gt-xs="31.3"
          ngClass.xs="mt-2"
        >
          <div class="first">
            <img src="assets/images/demo/s12.jpg" alt="" />
          </div>
          <div class="seccond">
            <h4><a>HOME 4</a></h4>
          </div>
          <div class="button">
            <a href="home/four" target="_blank" class="ped-btn left-btn"
              >VIEW DEMO</a
            >
          </div>
        </div>
        <div
          class="item sec"
          fxFlex="100"
          fxFlex.gt-xs="31.3"
          ngClass.xs="mt-2"
        >
          <div class="first">
            <img src="assets/images/demo/s13.jpg" alt="" />
          </div>
          <div class="seccond">
            <h4><a>HOME 5</a></h4>
          </div>
          <div class="button">
            <a href="home/five" target="_blank" class="ped-btn left-btn"
              >VIEW DEMO</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="demo-showcase sec-padding">
    <div class="container">
      <div class="title">
        <h2>Check out the new demos</h2>
        <p>More new templates will come up soon... Stay tuned!</p>
      </div>
      <div class="demos" fxLayout="row" fxLayout.lt-lg="column">
        <div class="item" fxFlex="100" fxFlex.gt-xs="33.3" ngClass.xs="mt-2">
          <div class="first">
            <img src="assets/images/demo/home_new.jpg" alt="" />
          </div>
          <div class="seccond">
            <h4><a>INDUSTRIAL</a></h4>
          </div>
          <div class="button">
            <a
              href="http://mylamarena.com/sophia-industrial"
              target="_blank"
              class="ped-btn left-btn"
              >VIEW DEMO</a
            >
          </div>
        </div>

        <div
          class="item middle"
          fxFlex="100"
          fxFlex.gt-xs="33.3"
          ngClass.xs="mt-2"
        >
          <div class="first">
            <img src="assets/images/demo/food.jpg" alt="" />
          </div>
          <div class="seccond">
            <h4><a>FOOD</a></h4>
          </div>
          <div class="button">
            <a
              href="http://mylamarena.com/sophia-food/"
              target="_blank"
              class="ped-btn left-btn"
              >VIEW DEMO</a
            >
          </div>
        </div>
        <div class="item" fxFlex="100" fxFlex.gt-xs="33.3" ngClass.xs="mt-2">
          <div class="first">
            <img src="assets/images/demo/furniture.jpg" alt="" />
          </div>
          <div class="seccond">
            <h4><a>FURNITURE</a></h4>
            <span>COMING SOON</span>
          </div>
          <!-- <div class="button">
               <a href="http://mylamarena.com/sophia-food/" target="_blank" class="ped-btn left-btn">VIEW DEMO</a>
           </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="main-features sec-padding">
    <div class="container">
      <div class="features-wrap">
        <div class="title">
          <h2>Main Features</h2>
        </div>
        <div class="features">
          <div class="row" fxLayout="row" fxLayout.lt-md="column">
            <div
              fxLayout="row"
              fxFlex="100"
              fxFlex.gt-sm="50"
              class="feature-item"
            >
              <div class="icon-box">
                <img src="assets/images/demo/angular.jpg" alt="" />
              </div>
              <div class="text-box">
                <h4>Angular app</h4>
                <p>
                  Very powerfull and modern front-end Angular ecommerce app for
                  your store market.
                </p>
              </div>
            </div>
            <div
              fxLayout="row"
              fxFlex="100"
              fxFlex.gt-sm="50"
              class="feature-item"
            >
              <div class="icon-box">
                <img src="assets/images/demo/angularM.jpg" alt="" />
              </div>
              <div class="text-box">
                <h4>Angular Material</h4>
                <p>
                  Made with Angular Material UI component library specialized
                  for Angular apps.
                </p>
              </div>
            </div>
          </div>
          <div class="row" fxLayout="row" fxLayout.lt-md="column">
            <div
              fxLayout="row"
              fxFlex="100"
              fxFlex.gt-sm="50"
              class="feature-item"
            >
              <div class="icon-box">
                <img src="assets/images/demo/photoshop.jpg" alt="" />
              </div>
              <div class="text-box">
                <h4>PSD files included for all layouts</h4>
                <p>
                  We provide layered organized psd files for all layouts (for
                  those who want to photoshop).
                </p>
              </div>
            </div>
            <div
              fxLayout="row"
              fxFlex="100"
              fxFlex.gt-sm="50"
              class="feature-item"
            >
              <div class="icon-box">
                <img src="assets/images/demo/sass.jpg" alt="" />
              </div>
              <div class="text-box">
                <h4>SASS support</h4>
                <p>The theme is made with sass styling.</p>
              </div>
            </div>
          </div>
          <div class="row" fxLayout="row" fxLayout.lt-md="column">
            <div
              fxLayout="row"
              fxFlex="100"
              fxFlex.gt-sm="50"
              class="feature-item"
            >
              <div class="icon-box">
                <img src="assets/images/demo/angular_flex.jpg" alt="" />
              </div>
              <div class="text-box">
                <h4>Angular Flex-Layout</h4>
                <p>
                  Fast & flexible Flexbox layout library for building a layout
                  structure.
                </p>
              </div>
            </div>
            <div
              fxLayout="row"
              fxFlex="100"
              fxFlex.gt-sm="50"
              class="feature-item"
            >
              <div class="icon-box">
                <img src="assets/images/demo/spinner.jpg" alt="" />
              </div>
              <div class="text-box">
                <h4>Ngx-spinner</h4>
                <p>Angular spinner implemented..</p>
              </div>
            </div>
          </div>
          <div class="row" fxLayout="row" fxLayout.lt-md="column">
            <div
              fxLayout="row"
              fxFlex="100"
              fxFlex.gt-sm="50"
              class="feature-item"
            >
              <div class="icon-box">
                <img src="assets/images/demo/compare.jpg" alt="" />
              </div>
              <div class="text-box">
                <h4>Product Compare</h4>
                <p>We have implemented on product compare component.</p>
              </div>
            </div>
            <div
              fxLayout="row"
              fxFlex="100"
              fxFlex.gt-sm="50"
              class="feature-item"
            >
              <div class="icon-box">
                <img src="assets/images/demo/font.jpg" alt="" />
              </div>
              <div class="text-box">
                <h4>Google Fonts</h4>
                <p>The app uses regular google fonts</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="color-showcase sec-padding">
    <div class="container">
      <div class="title">
        <h2>Unlimited color combinations</h2>
      </div>
      <div class="demos" fxLayout="row" fxLayout.lt-lg="column">
        <div class="item" fxFlex="100" fxFlex.gt-xs="25" ngClass.xs="mt-2">
          <div class="first">
            <img src="assets/images/demo/c1.jpg" alt="" />
          </div>
        </div>
        <div class="item" fxFlex="100" fxFlex.gt-xs="25" ngClass.xs="mt-2">
          <div class="first">
            <img src="assets/images/demo/c2.jpg" alt="" />
          </div>
        </div>
        <div class="item" fxFlex="100" fxFlex.gt-xs="25" ngClass.xs="mt-2">
          <div class="first">
            <img src="assets/images/demo/c3.jpg" alt="" />
          </div>
        </div>
        <div class="item" fxFlex="100" fxFlex.gt-xs="25" ngClass.xs="mt-2">
          <div class="first">
            <img src="assets/images/demo/c4.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="likeUs sec-padding">
    <div class="container">
      <div class="theme-features">
        <mat-card
          fxLayout="row"
          fxLayout.lt-sm="column"
          fxLayoutAlign="start start"
          class="p-0"
        >
          <div class="item">
            <h2>Lifetime License</h2>
            <ul>
              <li fxLayout="row">
                <i class="material-icons">check</i
                ><span>Quality check by Envato</span>
              </li>
              <li fxLayout="row">
                <i class="material-icons">check</i
                ><span>Lifetime regular updates</span>
              </li>
              <li fxLayout="row">
                <i class="material-icons">check</i
                ><span>6 months free support</span>
              </li>
              <!--
              <li fxLayout="row">
                <i class="material-icons">check</i
                ><span>Full access to all files included in the package</span>
              </li>
              -->
            </ul>
          </div>
        </mat-card>
      </div>
      <div class="title">
        <h2>If you like CamelSoft 3DChart - Please rate us</h2>
        <div class="stars" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted"
            >star_rate</mat-icon
          >
          <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted"
            >star_rate</mat-icon
          >
          <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted"
            >star_rate</mat-icon
          >
          <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted"
            >star_rate</mat-icon
          >
          <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted"
            >star_rate</mat-icon
          >
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <p>Copyrights © 2022 by CamelSoft. All Rights Reserved.</p>
    </div>
  </div>
</div>
