<div class="blog-list">
  <div class="container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start" class="blog-list-wrapper sec-padding">
        <div fxFlex="100" fxFlex.gt-sm="70" class="main-blog-panel">
            <div class="single-blog-list" fxLayout="row" fxLayout.lt-md="column">
                <div fxFlex="100" fxFlex.gt-sm="50" class="image-box">
                 <a href=""><img src="assets/images/blog/b1.jpg" alt=""> </a>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="50" class="text-box">
                    <a href=""> <h4> Our Outstanding Services </h4></a>
                  <ul fxLayout="row">
                    <li><i class="material-icons">access_time </i>Aug 21, 2015</li>
                    <li><i class="material-icons">person </i>Marc Spenser</li>
                    <li><i class="material-icons">sms</i>05 Comments</li>
                  </ul>
                  <p>Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque Benenatis mauris Vestibulum ante ipsum primis in industry, logistics, finance, business orci ultrices venenatis mauris. It is a long established fact that a reader will be distracted.</p>
                  </div>
            </div>
            <div class="single-blog-list" fxLayout="row" fxLayout.lt-md="column">
              <div fxFlex="100" fxFlex.gt-sm="50" class="image-box">
                  <a href=""><img src="assets/images/blog/b1.jpg" alt=""> </a>
              </div>
              <div fxFlex="100" fxFlex.gt-sm="50" class="text-box">
                  <a href=""> <h4> Our Outstanding Services </h4></a>
                <ul fxLayout="row">
                  <li><i class="material-icons">access_time </i>Aug 21, 2015</li>
                  <li><i class="material-icons">person </i>Marc Spenser</li>
                  <li><i class="material-icons">sms</i>05 Comments</li>
                </ul>
                <p>Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque Benenatis mauris Vestibulum ante ipsum primis in industry, logistics, finance, business orci ultrices venenatis mauris. It is a long established fact that a reader will be distracted.</p>
                </div>
          </div>
          <div class="single-blog-list" fxLayout="row" fxLayout.lt-md="column">
            <div fxFlex="100" fxFlex.gt-sm="50" class="image-box">
                <a href=""><img src="assets/images/blog/b1.jpg" alt=""> </a>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="50" class="text-box">
                <a href=""> <h4> Our Outstanding Services </h4></a>
              <ul fxLayout="row">
                <li><i class="material-icons">access_time </i>Aug 21, 2015</li>
                <li><i class="material-icons">person </i>Marc Spenser</li>
                <li><i class="material-icons">sms</i>05 Comments</li>
              </ul>
              <p>Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque Benenatis mauris Vestibulum ante ipsum primis in industry, logistics, finance, business orci ultrices venenatis mauris. It is a long established fact that a reader will be distracted.</p>
              </div>
        </div>
         </div>
         <div fxFlex="100" fxFlex.gt-sm="30" class="sidebar">
            <div class="blog-sidebar">
                <div class="search mb-30">
                    <input class="form-control" placeholder="Search..." type="search">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i> </button>
                </div>
                <div class="single-sidebar-widget mb-30">
                    <div class="post-widget">
                        <div class="title">
                            <h4>Latest News</h4>
                            <div class="decor-line"></div>
                        </div>
                        <ul>
                            <li fxLayout="row">
                                <div fxFlex="100" fxFlex.gt-sm="30" class="icon-box"><img src="assets/images/blog/b1.jpg" alt="Awesome Image"></div>
                                <div fxFlex="100" fxFlex.gt-sm="70" class="text-box">
                                    <h5><a href="#">How To Reduce Financial Stress </a></h5><span>02 Dec.</span>
                                </div>
                            </li>
                            <li fxLayout="row">
                                <div fxFlex="100" fxFlex.gt-sm="30" class="icon-box"><img src="assets/images/blog/b1.jpg" alt="Awesome Image"></div>
                                <div fxFlex="100" fxFlex.gt-sm="70" class="text-box">
                                    <h5><a href="#">What Makes A Financial Website Successful? </a></h5><span>02 Dec.</span>
                                </div>
                            </li>
                            <li fxLayout="row">
                                <div fxFlex="100" fxFlex.gt-sm="30" class="icon-box"><img src="assets/images/blog/b1.jpg" alt="Awesome Image"></div>
                                <div fxFlex="100" fxFlex.gt-sm="70" class="text-box">
                                    <h5><a href="#">What Makes A Financial Service’s Website Successful? </a></h5><span>02 Dec.</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="single-sidebar-widget mb-30">
                    <div class="post-widget">
                        <div class="title">
                            <h4>Text widget</h4>
                        </div>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore que laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi arch itecto beatae vitae dict eaque ipsa quae.</p>
                    </div>
                </div>
                <div class="single-sidebar-widget mb-30">
                    <div class="tags-widget post-widget">
                        <div class="title">
                            <h4>Tags widget</h4>
                        </div>
                        <ul class="list-inline">
                            <li><a href="#">Insurance</a></li>
                            <li><a href="#">Investments</a></li>
                            <li><a href="#">tax plans</a></li>
                            <li><a href="#">Mutual funds</a></li>
                            <li><a href="#">Retirement plans</a></li>
                            <li><a href="#">Busniess plans</a></li>
                        </ul>
                    </div>
                </div>
            </div>
         </div>
    </div>
  </div>
</div>
