<div class="faq sec-padding">
  <div class="container">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start"  class="p-0">
        <div fxFlex="100" fxFlex.gt-sm="50" class="questions">
            <div class="faq-wrap">
                <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span>What is do i have to tell you a few lorem?</span>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore. Love life’s sweetest reward Let it flow it floats back to you.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                              <span>What is do i have to tell you a few lorem?</span>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore. Love life’s sweetest reward Let it flow it floats back to you.
                          </p>
                      </mat-expansion-panel>
                      <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                                <span>What is do i have to tell you a few lorem?</span>
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore. Love life’s sweetest reward Let it flow it floats back to you.
                            </p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                  <span>What is do i have to tell you a few lorem?</span>
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore. Love life’s sweetest reward Let it flow it floats back to you.
                              </p>
                          </mat-expansion-panel>
                  </mat-accordion>
            </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="faq-form">
            <div class="text-wrap">
              <div class="title">
                  <h3>Our Management</h3>
              </div>
                <p>Business analytics (BA) is the practice of iterative, methodical exploration of an
                    organization's data with emphasis on statistical analysis.</p>
                    <form fxLayout="row wrap">
                        <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Your Name (required)" #name="ngModel" ngModel name="name" required>
                                <mat-error *ngIf="name.invalid">Please enter a valid message</mat-error>
                              </mat-form-field>
                        </div>
                        <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Your Email (required)" #email="ngModel" ngModel name="email" required>
                                <mat-error *ngIf="email.invalid">Please enter a valid message</mat-error>
                              </mat-form-field>
                        </div>
                        <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Subject" #subject="ngModel" ngModel name="subject" required>
                                <mat-error *ngIf="subject.invalid">Please enter a valid message</mat-error>
                              </mat-form-field>
                        </div>

                        <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                            <button class="btn-project" mat-raised-button color="accent" type="submit">GET A QUOTE</button>
                          </div>
                        </form>
            </div>
        </div>
    </div>

  </div>
</div>
