<footer class="footer sec-padding">
  <div class="container">
    <div
      class="footer-wrapper"
      fxLayout="row wrap"
      fxLayoutAlign="space-between start"
    >
      <div
        fxFlex="100"
        fxFlex.gt-sm="30"
        fxFlex.sm="50"
        class="footer-widget about-widget"
      >
        <a class="logo" href="index.html"><h2>3DChart</h2></a>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
          malesuada fringilla sem, at dictum lectus ultricies quis. Etiam eu
          bibendum orci. Aliquam erat volutpat.
        </p>
        <div class="link"><a href="#">MORE ABOUT US</a></div>
      </div>

      <div
        fxFlex="100"
        fxFlex.gt-sm="23"
        fxFlex.sm="50"
        ngClass.xs="mt-2"
        class="footer-widget links-widget links-widget-pac"
      >
        <div class="title">
          <h5>Articles</h5>
        </div>
        <div class="row">
          <ul>
            <li><a href="#">3D print Models</a></li>
            <li><a href="#">3D gaming Models</a></li>
            <li><a href="#">3D materials</a></li>
          </ul>
        </div>
      </div>

      <div
        fxFlex="100"
        fxFlex.gt-sm="23"
        fxFlex.sm="50"
        ngClass.xs="mt-2"
        class="footer-widget subscribe-widget"
      >
        <div class="title">
          <h5>Subscribe Newsletter</h5>
        </div>
        <form action="#">
          <p>Get latest updates and offers.</p>
          <div fxLayout="column" class="newsletter-widget">
            <input type="text" placeholder="Enter your email address" />
            <button type="submit" class="ped-btn-footer">SUBSCRIBE US</button>
          </div>
        </form>
      </div>

      <div
        fxFlex="100"
        fxFlex.gt-sm="23"
        fxFlex.sm="50"
        ngClass.sm="mt-2"
        ngClass.xs="mt-2"
        class="footer-widget subscribe-widget"
      >
        <div class="title">
          <h5>Contact Us</h5>
        </div>
        <div fxLayout="row" class="tel-box">
          <div class="icon"><i class="fa fa-map-marker"></i></div>
          <div class="text">
            <p>4011,Sousse,Hammam_Sousse</p>
          </div>
        </div>
        <div fxLayout="row" class="tel-box">
          <div class="icon"><i class="fa fa-phone"></i></div>
          <div class="text">
            <p>65 524 8503 / 954 7854</p>
          </div>
        </div>
        <div fxLayout="row" class="tel-box">
          <div class="icon"><i class="fa fa-envelope"></i></div>
          <div class="text">
            <p><a href="#">contact@Camelsoft.tn</a></p>
          </div>
        </div>

        <ul fxLayout="row" class="social list-inline">
          <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
